.box {
  background-color: #F9F9F9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  padding: 10px;
}

.box a {
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.box span {
  margin-right: 10px;
}

.box i {
  background-color: #90B594;
  color: white;
  padding: 10px;
  border-radius: 20%;
}

.box2 {
  width: 100%;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-info {
  display: flex;
  flex-direction: column;
}

.post-info span {
  font-weight: bold;
}

.post-content {
  margin-bottom: 10px;
}

.post-actions {
  display: flex;
  align-items: center;
}

.action-icon {
  color: gray;
  cursor: pointer;
}

.love-icon {
  color: gray;
  cursor: pointer;
}

.love-icon.filled {
  color: red;
}

.preview-image {
  max-width: 100%;
  max-height: 300px;
  object-fit: contain;
  margin-bottom: 10px;
}

.post-image-container {
    position: relative;
    width: 100%;
    height: auto;
}

.post-image-wrapper {
    display: flex;
}

.card-image {
    display: none;
    width: 100%;
    height: auto;
}

.card-image.active {
    display: block;
}

.next-arrow {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.next-arrow i {
    color: black;
}

.previous-arrow {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}

.previous-arrow i {
    color: black;
}
